{% extends "layouts/base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div id="room" class="w-full h-full flex">
    <div id="board-wrapper" class="flex items-center justify-center w-full h-full">
        {{board|safe}}
    </div>
    <div class="flex absolute left-20 top-1/2">
        <button hx-post="/rooms/{{id}}/reset" hx-target="#room">
            Reset
        </button>
    </div>
    <script>
        if (new URL(window.location.href).searchParams.get('side') === 'black') {
            const board = document.getElementById('board-wrapper');
            board.style = "rotate: 180deg;";
        }
    </script>
</div>
{% endblock %}