{% extends "layouts/base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<main id="room" class="w-full h-full flex justify-center items-center gap-4" hx-ext="ws" ws-connect="/ws/rooms/{{id}}">
    {{board|safe}}
    <div class="flex">
        <button hx-post="/rooms/{{id}}/reset" hx-target="#room" hx-swap="outerHTML">
            Reset
        </button>
    </div>
</main>
<script>
    if (new URL(window.location.href).searchParams.get('side') === 'black') {
        const board = document.getElementById('board-wrapper');
        board.style = "rotate: 180deg;";
    }
</script>
{% endblock %}