<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block title %}{{title}}{% endblock %}
    </title>
    <link href="/assets/styles/main.css" rel="stylesheet" />
    <link href="/assets/styles/custom.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    {% block head %}{% endblock %}
</head>

<body hx-boost="true">
    <main class="w-full h-screen">
        {% block body %}
        {% endblock %}
    </main>
</body>

</html>